* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 32px 80px;
    box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    transition: 0.25s ease-in-out;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

.nav-link:hover {
    color: #333;
}

.nav-link:hover::before {
    width: 100%;
    background-color: #333;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 80px;
    gap: 20px;
}

.card-grid {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card {
    height: max-content;
    min-height: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.05);
}

.card.add {
    background-color: #e5f7ff;
    border-color: #72c9ff;
    border-style: dashed;
    text-align: center;
    color: #0099ff;
    transition: .25s ease-in-out;
}

.card.add:hover {
    opacity: 0.6;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    text-decoration: none;
    color: inherit;
}

.card-tag {
    width: min-content;
    padding: 2px 12px;
    border-radius: 12px;
    font-size: 14px;
    background-color: #8a60c8;
    color: #fff;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-position: center;
    object-fit: cover;
    max-height: 240px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    max-height: 240px;
}

.date {
    position: absolute;
    right: 12px;
    bottom: 12px;
    padding: 2px 8px;
    background-color: #666666bf;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    gap: 12px;
    margin-bottom: 6px;
}

input,
textarea,
select {
    width: 50%;
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

select {
    background-color: transparent;
    cursor: pointer;
}

textarea {
    resize: none;
}

input[type="checkbox"] {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 6px;
}

.errorlist {
    list-style-type: none;
    display: grid;
    gap: 12px;
    background-color: #ff9b9b;
    border-left: 3px solid #ff6363;
    padding: 3px 6px
}

.errorlist > li {
    color: #730000;
    font-size: 14px;
}
.error {
    color: #730000;
    font-size: 14px;}

.input-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field.invalid > input {
    border-color: #ff6363;
}

.submit-button {
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.submit-button:hover {
    background-color: #5897fb;
    border-color: #6ea5ff;
    transform: translateY(-2px);
    color: #fff;
}

.link {
    position: relative;
    text-decoration: none;
    color: #164b78;
    font-size: 14px;
    transition: 0.25s ease-in-out;
}

.link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #164b78;
    transition: 0.25s ease-in-out;
}

.link:hover {
    opacity: 0.7;
}

.link:hover::before {
    width: 100%;
    opacity: 0.7;
}

.status {
    position: absolute;
    left: 12px;
    bottom: 12px;
    padding: 2px 8px;
    background-color: rgba(120, 191, 106, 0.75);
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
}

.status.going {
    background-color: #608dc8;
}

.status.done {
    background-color: #8a60c8;
}

.actions {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.delete, .edit {
    width: 24px;
    aspect-ratio: 1;
    transition: 0.25s ease-in-out;
}
.edit > img,
.delete > img {
    width: 100%;
}

.delete:hover,
.edit:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
}

.filter {
    border-radius: 12px;
    border: 1px solid lightgray;
    padding: 8px 16px;
    color: #222;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.filter.active {
    background-color: #e6f7ff;
    border-color: #caeaff;
    color: #34acff;
}

.filter:hover {
    background-color: #d2f0ff;
    border-color: #b5e1ff;
    color: #34acff;
}

.after-image {
    position: absolute;
    inset: 0;
}