<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Главная{% endblock %} - Design.Pro</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
  <header class="header">
    <nav class="nav">
      <a href="{% url 'index' %}" class="nav-link">Главная</a>
      {% if user.is_authenticated %}
        <a href="{% url 'user_requests' %}" class="nav-link">Мои заявки</a>
        <a href="{% url 'create_request' %}" class="nav-link">Создать заявку</a>
        <form id="logout-form" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="nav-link">Выход</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="nav-link">Вход</a>
        <a href="{% url 'register' %}" class="nav-link">Регистрация</a>
      {% endif %}
    </nav>
  </header>
  <main class="main">
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>