{% extends "./base/base_generic.html" %}

{% block title %}
  <title>Авторы - Библиотека</title>
{% endblock %}

{% block content %}
  <h1>Список авторов</h1>
  {% if author_list %}
    <ul>
      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
        <span>{{ author.date_of_birth }}</span>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>На данный момент авторов нету.</p>
  {% endif %}
{% endblock %}