{% extends "./base/base_generic.html" %}

{% block title %}Все взятые книги{% endblock %}

{% block content %}
    <h1>Все взятые книги</h1>

    {% if bookinstance_list %}
    <ul style="display: flex; flex-direction: column; gap: 16px">

      {% for bookinst in bookinstance_list %}
      <li>
        <p style="margin: 0">{{ bookinst.borrower.username }}</p>
        <p style="margin-bottom: 4px" class="{% if bookinst.is_overdue %}text-danger{% endif %}">
            <a
              href="{% url 'book-detail' bookinst.book.pk %}"
            >{{ bookinst.book.title }}</a>
            ({{ bookinst.due_back }})
            {% if perms.catalog.can_mark_returned %}
               - <a href="{% url 'renew-book-librarian' bookinst.id %}">Обновить дату возврата</a>
            {% endif %}
        </p>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Взятых книг нету</p>
    {% endif %}
{% endblock %}