.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#logout-form {
  display: inline;
}

#logout-form button {
  padding: 0;
  margin: 0;
}

.username,
#login-button {
  padding-top: 24px;
}

.redact-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 16px;
}