{% extends "../base_general.html" %}

{% block title %}Ваши заявки{% endblock %}

{% block content %}
    <div>
        <h1>Все заявки</h1>
    </div>

    {% if requests_list %}
    <ul class="card-grid">

      {% for request in requests_list %}
        <li class="card">
            <div class="card-title">
                <h2>{{ request.title }}</h2>
                <p class="card-tag">{{ request.category }}</p>
            </div>
            <img class="image" src="{{ request.photo.url }}" alt="{{ request.title }}" >
            <p class="date">{{ request.created_at }}</p>
            <p class="status
                {% if request.status == 'o' %}
                    going
                {% elif request.status == 'd' %}
                    done
                {% endif %}
            ">
                {{ request.get_status_display }}
            </p>
            {% if request.status == 'n' %}
                <a href="{% url 'delete_request' request.id %}" class="delete">
                    {% load static %}
                    <img src="{% static 'icons/delete.svg' %}" alt="Иконка удаления">
                </a>
            {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>У вас нету заявок</p>
    {% endif %}
{% endblock %}