{% extends "../base_general.html" %}

{% block title %}Админ: Заявки{% endblock %}

{% block content %}
    <div>
        <h1>Все заявки</h1>
    </div>

    <nav class="nav">
        <a
          class="filter {% if requests_list.filter == 'n' %} active {% endif %}"
          href="{% if not requests_list.filter == 'n' %}
                {% url 'admin_filter_requests' 'n' %}
            {% else %}
                {% url 'admin_requests' %}
            {% endif %}"
        >
            Новые
        </a>
        <a
          class="filter {% if requests_list.filter == 'o' %} active {% endif %}"
          href="{% if not requests_list.filter == 'o' %}
                {% url 'admin_filter_requests' 'o' %}
            {% else %}
                {% url 'admin_requests' %}
            {% endif %}"
        >
            Прогресс
        </a>
        <a
          class="filter {% if requests_list.filter == 'd' %} active {% endif %}"
          href="{% if not requests_list.filter == 'd' %}
                {% url 'admin_filter_requests' 'd' %}
            {% else %}
                {% url 'admin_requests' %}
            {% endif %}"
        >
            Выполненные
        </a>
    </nav>

    {% if requests_list.requests %}
    <ul class="card-grid">

      {% for request in requests_list.requests %}
        <li class="card">
            <div class="card-title">
                <h2>{{ request.title }}</h2>
                <p class="card-tag">{{ request.category }}</p>
            </div>
            <img class="image" src="{{ request.photo.url }}" alt="{{ request.title }}" >
            <p class="date">{{ request.created_at }}</p>
            <p class="status
                {% if request.status == 'o' %}
                    going
                {% elif request.status == 'd' %}
                    done
                {% endif %}
            ">
                {{ request.get_status_display }}
            </p>
            <div class="actions">
                {% if request.status == 'n' or request.status == 'o' %}
                    <a href="{% url 'delete_request' request.id %}" class="edit">
                        {% load static %}
                        <img src="{% static 'icons/edit.png' %}" alt="Иконка редактирования">
                    </a>
                {% endif %}
                {% if request.status == 'n' %}
                    <a href="{% url 'delete_request' request.id %}" class="delete">
                        <img src="{% static 'icons/delete.svg' %}" alt="Иконка удаления">
                    </a>
                {% endif %}
            </div>
        </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Заявок нету</p>
    {% endif %}
{% endblock %}