{% extends "../base_general.html" %}

{% block title %}Форма заявки{% endblock %}

{% block content %}
  <div>
      <h1>Форма заявки</h1>
  </div>
  <form enctype="multipart/form-data" class="form" method="post">
    {% csrf_token %}
    {% for field in form %}
      <label class="input-field {% if field.errors%}invalid{% endif %}">
        {{ field.label }}
        {{ field }}
      </label>
      <span>
          {{ field.errors }}
      </span>
    {% endfor %}
    <input class="submit-button" type="submit" value="Сохранить" />
  </form>
{% endblock %}