{% extends "../base_general.html" %}

{% block title %}Ваши заявки{% endblock %}

{% block content %}
    <div>
        {% if user.is_authenticated %}
          <p>Здравствуйте, {{ user }}</p>
        {% endif %}
        <h1>Ваши заявки</h1>
    </div>

    <nav class="nav">
        <a
          class="filter {% if requests_list.filter == 'n' %} active {% endif %}"
          href="{% if not requests_list.filter == 'n' %}
                {% url 'user_filter_requests' 'n' %}
            {% else %}
                {% url 'user_requests' %}
            {% endif %}"
        >
            Новые
        </a>
        <a
          class="filter {% if requests_list.filter == 'o' %} active {% endif %}"
          href="{% if not requests_list.filter == 'o' %}
                {% url 'user_filter_requests' 'o' %}
            {% else %}
                {% url 'user_requests' %}
            {% endif %}"
        >
            Прогресс
        </a>
        <a
          class="filter {% if requests_list.filter == 'd' %} active {% endif %}"
          href="{% if not requests_list.filter == 'd' %}
                {% url 'user_filter_requests' 'd' %}
            {% else %}
                {% url 'user_requests' %}
            {% endif %}"
        >
            Выполненные
        </a>
    </nav>

    {% if requests_list.requests %}
    <ul class="card-grid">

      {% for request in requests_list.requests %}
        <li class="card">
            <div class="card-title">
                <h2>{{ request.title }}</h2>
                <p class="card-tag">{{ request.category }}</p>
            </div>
            <div class="image-container">
                <img class="image" src="{{ request.photo.url }}" alt="{{ request.title }}" >
                <p class="date">{{ request.created_at }}</p>
                <p class="status
                    {% if request.status == 'o' %}
                        going
                    {% elif request.status == 'd' %}
                        done
                    {% endif %}
                ">
                    {{ request.get_status_display }}
                </p>
            </div>
            <div class="actions">
                {% if request.status == 'n' %}
                    <a href="{% url 'delete_request' request.id %}" class="delete">
                        {% load static %}
                        <img src="{% static 'icons/delete.svg' %}" alt="Иконка удаления">
                    </a>
                {% endif %}
            </div>
            {% if request.commentary %}
                <div>
                    <p>Комментарий к работе:</p>
                    <p>{{ request.commentary }}</p>
                </div>
            {% endif %}
        </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>У вас нету заявок</p>
    {% endif %}
{% endblock %}